.centrado {
      display: flex;
      flex-direction: column;
}

.sombreado {
      box-shadow: 10px 10px 25px 8px rgba(0, 0, 0, 0.75);
}

.body {
      height: 2000px;
      width: auto;
      background-color: #cd895645;
      font-family: Playfair Display;
      justify-content: space-around;
}

.header {
      height: auto;
      width: auto;
      justify-content: space-around;
      align-items: center;
      background-image: url(https://i.pinimg.com/564x/5f/42/c6/5f42c6a19cffcbac72ed7b12a28dad69.jpg);
      background-size: cover;
      background-position: center;
      height: 100vh;
      border-radius: 15px;
}

.button {
      font-size: 20px;
      background-color: #7fffd44d
}

.cont-button {
      justify-content: center;
      align-items: center;
      height: 200px;
      width: 300px;
      border-radius: 15px;
      font-size: 25px;
      font-weight: bold;
}


.not-header {
      font-size: 100px;
      color: black;
      text-shadow: 1px 1px 2px pink;
      justify-content: center;
      align-items: center;
      font-weight: bold;

}


.cont-nav {
      height: 50px;
      width: auto;
      display: flex;
      padding: 30px;
      justify-content: space-around;
      align-items: center;
      text-decoration: none;
      font-size: 30px;
      margin-bottom: 70px;
}

.not-button {
      font-size: 30px;

}

.not-nav {
      height: 50px;
      width: 1600px;
      padding: 20px;

}

.not-boton {
      font-size: 30px;
      text-decoration: none;
      color: black;
}

.cont1-card {
      height: 1000px;
      width: 1800px;
      display: flex;
      border-radius: 15px;
      flex-wrap: wrap;
}

.cont2-card {

      height: 600px;
      width: 600px;
      background-color: antiquewhite;
      font-size: 20px;
      text-overflow: ellipsis;
      font-family: Open Sans;
}

#img-Tailandia {
      background-image: url(https://i.pinimg.com/474x/f0/f9/b0/f0f9b00a1f90c622b52982a5594edbb8.jpg);
}

#img-india {
      background-image: url(https://i.pinimg.com/736x/4e/e2/1c/4ee21c1296822c29ca9a6de19384c36b.jpg);
}

#img-Indonesia {

      background-image: url(https://i.pinimg.com/564x/66/ad/d9/66add93bf44e47d5b077490fa9455c14.jpg);
}

#img-Africa {

      background-image: url(https://i.pinimg.com/564x/e6/30/d9/e630d935b8c441ab980fa0987f704761.jpg);
}

.main {
      height: auto;
      width: auto;
      justify-content: space-between;

}

.cont1-card {
      height: 1000px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 20px;
}

.tit-card {
      display: flex;
      justify-content: center;
      font-family: Dancing Script;
      font-size: 60px;
      font-weight: bold;
      color: black;
      text-decoration: none;
}

.not-card {
      color: white;
      font-weight: bold;
      padding: 20px;

}

.cont-article {
      margin-top: 200px;
      height: 800px;
      font-family: Playfair Display;
      font-size: 20px;

}

.img {
      height: 500px;
      width: 800px;
      display: flex;
      border-radius: 15px;

}

.cont-formulario {
      margin-top: 3000px;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      border-radius: 15px;
      height: 200px;
      width: 400px;

}

.cont-footer {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;

}

.cont1-footer {
      display: flex;
}

.cont-card-footer {
      width: 300px;
      height: 100px;
      justify-content: space-between;
      font-size: 20px;
}

.not-tit-article {
      font-family: Playfair Display;
      font-size: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-shadow: 1px 1px 2px pink;
}